.mainContainer {
    display: flex;
    justify-content: center;
}

.mainColumn {
    align-items: center;
    background-color: #e9e2e2e6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 30px);
    max-width: 850px;
    padding: 5px;
    width: 100%;
}

.partyTime {
    background-image: url("/rats.gif");
    background-repeat: repeat;
}

.partyButton {
    background-image: url("logo-128.png");
    background-size: cover;
    border-radius: 5px;
    bottom: 15px;
    height: 48px;
    position: fixed;
    right: 15px;
    width: 48px;
}

.messages {
    flex-grow: 1;
    overflow: auto;
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.inputs_text {
    flex-grow: 1;
}

.imageView__buttons {
    display: flex;
}